body{
    font-family: 'Roboto', sans-serif;
}

.font{
    font-size: 18px;
}

.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 700px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}


.player-wrapper {
  background-image: url("./images/33.jpg");
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 100px;
  left: 150px;
}

.dropdown-basic-button {
  display: list-item inline;

}

.divgenre {
  background-image: url("./images/pop.jpg");
  display: flex;
  background-size: cover;
  height: 600px;
}

.divartist {
  background-image: url("./images/artist.jpg");
  display: flex;
  background-size: cover;
  height: 600px;
  font-size: 20px;
  font-family: sans-serif;
}

.popCard {
  margin-left: 80px;
  margin-top: 100px;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: 340px;

}

.rockCard {
  margin-left: 80px;
  margin-top: 100px;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: 340px;
}

.edmCard {
  margin-left: 80px;
  margin-top: 100px;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: 340px;
}


.rapCard {
  margin-left: 80px;
  margin-top: 100px;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: 340px;
}


.lpCard {
  margin-left: 80px;
  margin-top: 100px;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: 340px;
}

.eminemCard {
  margin-left: 80px;
  margin-top: 100px;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: 340px;
}


.skCard {
  margin-left: 80px;
  margin-top: 100px;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: 340px;
}

.artistimg {
  height: 200px;
  width: 340px;
}

.namegenre {
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 110px;
}

.nameartist {
  color: white;
  font-weight: bold;
  margin-left: 130px;
}

.right {
  padding-right: 600px;
}
